*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: normal;
}
html{
    font-size: 16px;
}
body{
    width: 100%;
}
header{
    background-color: #036635;
    color:#fff;}
#filtro{
    border-radius: 3px;
}
#pedido{
    background-color:#036635;
    width: 100%;
}
#art{border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;}
.caja5{
  border-radius: 0px;
  background-color: #036635;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.caja5:hover{
  border-radius: 20px;
}