<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafetería</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="estilo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></head>
<body>
<header class="text-center">
  <br><h1>Cubic World</h1><br><h5>Menú de Bebidas</h5><br>  </header>
<article id="art" class="container-fluid">
        <div id="bebidas">
            <br>
            <div class="row"><div class="container-fluid">
                <center><input type="search" v-model="bNombre" placeholder="Filtro por Nombre" id="filtro" @click="mostrar=!mostrar"></center>
                <ul>
                <li v-for="a in bBebidas">
                <p><h5 class="text-success">{{a.bebida}}</h5><br>{{a.ing}} - {{a.tam}} - {{a.precio}}  ({{a.vig}})</p></li></ul>
                <div class="caja5"><center><p v-if="mostrar"><img src="1.jpg" style="width: 30%;"></p></center></div>
            </div></div><hr>

            <div class="row"><div class="container-fluid">
                <center><input type="search" v-model="bPrecio" placeholder="Buscar Bebida por Precio" id="filtro" @click="mostrar2=!mostrar2"></center><br>
                <ul>
                <li v-for="a in bPrecios" >
                <p><h4 class="text-success ">{{a.bebida}}</h4><br>{{a.ing}} - {{a.tam}} - {{a.precio}}  ({{a.vig}})</p>
                </li></ul>
                <div class="caja5"><center><p v-if="mostrar2"><img src="2.png" style="width: 30%;"></p></center></div>
                   
            </div></div>
        </div><hr>
            <div id="pedido">
                <h4 id="pedido" class="text-white">Confirma tu Pedido</h4>
                <table class="text-white">
                <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subotal</th>
                </tr>
                <tr v-for="a in prod">
                <td><input type="text" v-model="a.nombre" disabled></td>
                <td><input type="number" v-model="a.cant" min="0" max="10"></td>
                <td><input type="number" v-model="a.pUnitario" disabled></td>
                <td>${{subTotal(a)}}</td>
                </tr>
                </table>
            <div id="pedido"><br>
                <h5 class="text-white">Iva (incluido): {{(totalP*.16).toFixed(2)}}</h5>
                <h3 class="text-white">Total: ${{(totalP).toFixed(2)}}</h3>
                <br>
                <button class="bg-primary text-white">Pagar</button><hr>
            </div></div>
</div></article>
<script src="cafe.js"></script>
<footer class="bg-secondary text-center text-white"><br><h4>Created by: Carlos Arias</h4><br></footer>
</body>
</html>